.container {
  width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form label, form input, form button {
  margin-bottom: 10px;
}

#weather-info {
  display: none;
  margin-top: 30px;
}

#weather-info h2, #weather-info p, #weather-info img {
  margin-bottom: 10px;
}

.toggle-switch {
  position: absolute;
  top: 20px;
  right: 20px;
}

.toggle-switch input[type="checkbox"] {
  display: none;
}

.toggle-label {
  display: inline-block;
  width: 60px;
  height: 30px;
  background-color: #ccc;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.unit-c,
.unit-f {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
  color: white;
  padding: 0 5px;
}

.unit-c {
  left: 5px;
}

.unit-f {
  right: 5px;
}

.toggle-switch input[type="checkbox"]:checked + .toggle-label {
  background-color: orange;
}

.toggle-switch input[type="checkbox"]:checked + .toggle-label .unit-f {
  color: black;
}

.toggle-switch input[type="checkbox"]:checked + .toggle-label .unit-c {
  color: white;
}

.toggle-switch input[type="checkbox"]:not(:checked) + .toggle-label {
  background-color: green;
}

.toggle-switch input[type="checkbox"]:not(:checked) + .toggle-label .unit-c {
  color: black;
}

.toggle-switch input[type="checkbox"]:not(:checked) + .toggle-label .unit-f {
  color: white;
}
